{% extends "base.html" %}
{% load comments %}
{% block content %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}

{% for link in object_list %}
<div style="margin-left:15%">
<form method="post" action="{% url 'vote' %}" class="vote_form">
    <li> [{{ link.votes }}]
    {% csrf_token %}
   <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
   <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
   {% if not user.is_authenticated %}
   <button disabled title="Please login to vote">+</button>
   {% elif link.pk not in voted %}
   <button>+</button>
   {% else %}
   <button>-</button>
   {% endif %}

    <a href="{% url 'link_detail' pk=link.pk %}">
      <h5><b>{{ link.title }}</b></h5>
    </a>
      {{ link.submitter }}
    <br/>

    {% get_comment_count for link as comment_count %}
    {{ comment_count }} comment{{comment_count|pluralize }}

    </li>
    </form>
</div>
{% endfor %}
</ol>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
