{% extends "base.html" %}
{% load prepareurl %}
{% load comments %}
{% block content %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}

{% for link in object_list %}
<div style="margin-left:15%">
<form method="post" action="{% url 'vote' %}" class="vote_form" id="vote_form">
    <li> [{{ link.votes }}]
    {% csrf_token %}
   <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
   <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
   {% if not user.is_authenticated %}
   <button disabled title="Please login to vote">+</button>
   {% elif link.pk not in voted %}
   <button>+</button>
   {% else %}
   <button>-</button>
   {% endif %}

    <a href="{% url 'link_detail' pk=link.pk %}">
      <h5><b>{{ link.title }}</b></h5>
    </a>
      <font color ="#0080FF">{{ link.submitter }}</font><font color ="grey"> {{link.submitter.userprofile.bio|preptagline}}</font>
      {% get_comment_count for link as comment_count %}
      {{ comment_count }} comment{{comment_count|pluralize }}
      <br/>

    {% if link.url|issoundcloud %}
      <iframe width="75%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//{{link.url | prepareurl}}&amp;color=0080FF&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    {% endif %}

    </li>
    </form>
</div>
{% endfor %}
</ol>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
    {% endif %}
</div>
{% endif %}
<br/>
<section id="footer" class="dark">
            <div class="topLine">
                <div class="container">
                  {% if user.is_authenticated %}
                    <div class="row">
                        <div class="footerText">
                            <button class="btn btn-default" data-filter="*" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">Share</button>

                            <h3 data-scroll-reveal="enter left move 10px over 1s after 0.2s">Share Hip-Hop Tracks You're Listening To</h3>
                            <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">Hit The 'Share' Button To Get Started</h3>

                        </div>

                    </div>
                  {% else %}
                    <div class="row">
                        <div class="footerText">
                            <button class="btn btn-default" data-filter="*" data-toggle="tooltip" data-placement="top" title="" data-original-title="18" data-scroll-reveal="enter bottom move 10px over 1s after 0.2s"><a href="{% url 'registration_register' %}">Register</a></button>

                            <h3 data-scroll-reveal="enter left move 10px over 1s after 0.2s">Share Your Hip-Hop Expertise With The World</h3>
                            <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">Register To Start Up-Voting, Commenting And Posting</h3>

                        </div>

                    </div>
                  {% endif %}
                </div>
            </div>
        </section>

{% endblock %}

